.countainerHeader {
  color: #afbeda;
  display: flex;
  height: 80px;
  padding-left: 20px;
  padding-top: 30px;
}

/* .countainerTable {
  background-color: #13576e;
} */

.countainerHeader label {
  margin-right: 10px;
}

.countainerHeader input, .countainerHeader select {
  border-radius: 3px;
  border-style: none;
  height: 20px;
  margin-left: 10px;
}

.LabelMuda:hover {
  color: rgb(233, 198, 40);
}

.buttons-container {
  display: flex;
  margin-top: 20px;
  width: 500px;
}

.buttons-container button {
  background-color: #11264d;
  border-radius: 5px 5px 0 0;
  border-style: none;
  color: #46a8c9;
  margin-left: 8px;
  padding: 5px;
  width: 100px;
}

/* https://developer.mozilla.org/pt-BR/docs/Web/CSS/:nth-child */
.buttons-container button:nth-child( n ):hover {
  background-color: #0b864d;
  color: rgb(237, 234, 247);
}

.btn-search {
  background-color: rgb(207, 207, 60);
  border-radius: 5px;
  border-style: none;
  color: rgb(17, 40, 61);
  padding: 2.5px;
  width: 80px;
}

.btn-search:hover {
  background-color: #11264d;
  color: rgb(207, 207, 60);
}

.linha-titulo {
  background-color: #627703;
  color: #c7e1e2;
}

.linha-titulo th {
  padding: 10px;
  text-align: center;
  vertical-align: center;
}

.bodyTable tr:nth-child( 2n + 1 ) {
  color: #47afb3;
}

.bodyTable tr:nth-child( 2n ) {
  color: #24688f;
}

.bodyTable td {
  background-color: #11264d;
  padding: 5px 30px;
  text-align: center;
  vertical-align: center;
}

table {
  border-collapse: collapse;
}

.linhaBody {
  background-color: #0b864d;
  border-bottom: #46a8c9 solid 1px;
  height: 100px;
}

.linhaBody:hover {
  background-color: #6e8636;
  border-bottom: #afebff solid 1px;
  color: antiquewhite;
}
