* {
  margin: 0;
  padding: 0;
}

/* .linha-titulo {
  background-color: rgb(212, 163, 99);
  color: white;
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.countainerTable {
  background-color: rgb(204, 204, 134);
  height: 100%;
}
 */