.countainerHeader {
  background-color: #13576e;
  color: #afbeda;
  display: flex;
  height: 100px;
  padding-left: 20px;
  padding-top: 10px;
}

.countainerHeader label {
  margin-right: 10px;
}

.countainerHeader input, .countainerHeader select {
  border-radius: 3px;
  border-style: none;
  height: 20px;
  margin-left: 10px;
}

.LabelMuda:hover {
  color: rgb(233, 198, 40);
}

.buttons-container {
  margin-top: 20px;
  width: 500px;
}

.buttons-container button {
  background-color: #11264d;
  border-radius: 5px 5px 0 0;
  border-style: none;
  color: #46a8c9;
  margin-left: 8px;
  padding: 5px;
  width: 100px;

}

/* https://developer.mozilla.org/pt-BR/docs/Web/CSS/:nth-child */
.buttons-container button:nth-child( n ):hover {
  background-color: #0b864d;
  color: rgb(237, 234, 247);
}

.btn-search {
  background-color: rgb(207, 207, 60);
  border-radius: 5px;
  border-style: none;
  color: rgb(17, 40, 61);
  padding: 2.5px;
  width: 80px;
}

.btn-search:hover {
  background-color: #11264d;
  color: rgb(207, 207, 60);
}
