table {
  border-collapse: collapse;
}

td, th {
  border: 1px solid #999;
  padding: 0.5rem;
  text-align: center;
}

tr {
  font-weight: 700;
}

.dark {
  background: #555;
}

a {
  color: inherit;
  text-decoration: none;
}

.title-search-input {
  align-items: center;
  display: flex;
  justify-content: space-evenly;
}

/* este estilo abaixo, deixa as células com cores diferentes e é
experimental, caso eu não consiga usar o toggle theme */

/* td:nth-child( 1 ) { background: hsl(150, 50%, 50%); }

td:nth-child( 2 ) { background: hsl(160, 60%, 50%); }

td:nth-child( 3 ) { background: hsl(170, 70%, 50%); }

td:nth-child( 4 ) { background: hsl(180, 80%, 50%); }

td:nth-child( 5 ) { background: hsl(190, 90%, 50%); }

td:nth-child( 6 ) { background: hsl(200, 99%, 50%); }

td:nth-child( 7 ) { background: hsl(210, 99%, 50%); }

td:nth-child( 8 ) { background: hsl(220, 99%, 50%); }

td:nth-child( 9 ) { background: hsl(230, 95%, 50%); }

td:nth-child( 10 ) { background: hsl(240, 90%, 50%); }

td:nth-child( 11 ) { background: hsl(250, 85%, 50%); }

td:nth-child( 12 ) { background: hsl(250, 80%, 50%); }

td:nth-child( 13 ) { background: hsl(250, 70%, 50%); } */
