body {
  background-color: papayawhip;
}

h1 {
  text-align: center;
}

.header {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 20px;
}

.background-image {
  background-image: url('./components/sand-starwars.jpg');
}

label {
  font-size: 16px;
  margin: 0;
  padding: 10px;
}

input {
  font-size: 14px;
  height: 6px;
  margin: 0 10px 10px 0;
  padding: 10px;
}

select {
  height: 30px;
  margin: 0 10px 10px 0;
  padding: 5px;
}

button {
  height: 30px;
  margin-bottom: 10px;
  width: 100px;
}

table {
  border: 1px black solid;
  text-align: center;
}

th {
  background-color: rgba(255, 255, 255, 0.6);
  border: 1px solid black;
  font-size: 16px;
  font-variant: small-caps;
  margin: 10px 0;
  padding: 10px;
}

td {
  background-color: rgba(255, 255, 255, 0.6);
  border: 1px solid black;
  font-size: 12px;
  font-weight: 800;
  margin: 10px;
  padding: 5px;
}
