* {
  box-sizing: border-box;
  margin: 0;
}

main table {
  border: 1px solid black;
  display: flex;
  flex-direction: column;
}

main table thead th {
  border: 1px solid black;
  font-size: small;
  font-weight: 700;
  width: 100px;
}

main table tbody td {
  border: 1px solid black;
  font-size: xx-small;
  text-align: center;
  width: 100px;
}
